body {
    background: black;
    color: white;
}

.center {
    margin: 0 auto;
    width: fit-content;
}

.flex {
    gap: 1em;
    display: flex;
}

p {
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4 {
   font-family: 'Rubik Mono One', sans-serif; 
}

a { 
    color:lightblue;

}
